{% extends base_template %}

{% block content -%}
<div class="ibox">
    <div class="ibox-title">
        <h5>{% block ibox_title %}{% endblock %}</h5>
        <div class="ibox-tools">
            {% block ibox_tools %}
            {% endblock %}
        </div>
    </div>
    <div class="ibox-content">
        {% block ibox_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
