{% extends 'PAdminBundle:exceptions:base.html.twig' %}
{% block title %}500{% endblock %}
{% block error_code %}500{% endblock %}
{% block error_info %}出错啦{% endblock %}
{% block error_desc %}
请浏览其它页面
{% endblock %}

{% block error_option %}
<a href="javascript: history.go(-1);" class="btn btn-primary">返回上一页</a>
<a href="/" class="btn btn-primary">返回首页</a>
{% endblock %}
