{% extends 'PAdminBundle:security:base.html.twig' %}

{% block logo_name %}{{ "admin.firewall.logo_name"|trans }}{% endblock %}

{% block form_header %}
<h3 style="padding: 60px 0px;">{{ "admin.firewall.welcome"|trans }}</h3>
{% endblock %}

{% block form_footer %}
<p class="m-t"> <small>{{ "admin.firewall.footer"|trans }}</small> </p>
{% endblock %}
