{% extends 'PAdminBundle:Security:base.html.twig' %}

{% trans_default_domain 'PUserBundle' %}

{% block form_body %}

<div class="alert alert-success">
    {{ 'registration.check_email'|trans({'%email%': user.email})|raw }}
</div>
<a href="{{ path("fos_user_security_login") }}" class="btn btn-info block full-width m-b">{{ 'resetting.back to login'|trans }}</a>
{% endblock %}
