{% extends admin_base_template %}

{% block page_heading %}
{% include 'PAdminBundle:AdminConfig:header.html.twig' %}
{% endblock %}

{% block content %}
<div class="middle-box text-center">
    <h3 class="font-bold">欢迎使用 p admin</h3>
    <div class="error-desc">
        
    </div>
</div>
{% endblock %}
