{% use "bootstrap_3_layout.html.twig" %}

{% block form_widget_simple -%}
    {{- parent() -}}
    {% if help is defined %}
    <span class="help-block m-b-none">{{ help }}</span>
    {% endif %}
{% endblock %}
