{% block p_rich_text_widget %}

<style>
.note-editor .note-editable {
    min-height: 300px;
    border: 1px solid #ebebeb;
}
</style>

<div class="row">
    <textarea style="border: 1px solid red;" class="summernote" name="{{ full_name }}" >{{ value }}</textarea>
</div>
{% endblock %}
